[Desktop Entry]
Type=Application
# Version=TODO
Name=Prismriver Lyrics
GenericName=Song Lyrics Search Engine
Comment=Simple song lyrics search engine
Icon=prismriver
TryExec=prismriver-gui
Exec=prismriver-gui
Terminal=false
Categories=Qt;Utility;AudioVideo;Audio;Music;
Keywords=Lyric;Lyrics;Music;
StartupNotify=true
StartupWMClass=Prismriver Lyrics
